.filter-panel {
  flex: 0 0 250px;
  background: #f8f8f8;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filter-panel h4 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

::ng-deep .ant-menu-item-selected {
  background-color: #e6f7ff !important;
  font-weight: bold;
}
