<nz-affix>
  <nz-header class="navbar">
    <div class="logo">
      <img
        src="assets/logo_gl.png"
        alt="GamiLife Logo"
        routerLink="/app/dashboard"
      />
    </div>

    @if (!isLoggedIn()) {
      <ul nz-menu nzMode="horizontal" class="nav-menu" [nzSelectable]="false">
        <li
          nz-menu-item
          routerLink="/"
          routerLinkActive="active-nav-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </li>
        <li
          nz-menu-item
          routerLink="/about-us"
          routerLinkActive="active-nav-link"
        >
          About us
        </li>
      </ul>
      <ng-template #checkedTemplate>
        <nz-icon nzType="moon" nzTheme="outline" />
      </ng-template>
      <ng-template #unCheckedTemplate>
        <nz-icon nzType="sun" nzTheme="outline" />
      </ng-template>
    } @else {
      <ul nz-menu nzMode="horizontal" class="nav-menu" [nzSelectable]="false">
        <li
          nz-menu-item
          routerLink="/app/dashboard"
          routerLinkActive="active-nav-link"
        >
          Home
        </li>
        <li
          nz-menu-item
          routerLink="/app/tasks"
          routerLinkActive="active-nav-link"
        >
          Activities
        </li>
        <li
          nz-menu-item
          routerLink="/app/community"
          routerLinkActive="active-nav-link"
        >
          Community
        </li>
        <li
          nz-menu-item
          routerLink="/app/store"
          routerLinkActive="active-nav-link"
        >
          Store
        </li>
      </ul>
      <div class="navbar-actions">
        <div class="stats-item level-display">
          <nz-icon
            nzType="trophy"
            nzTheme="outline"
            class="stats-icon"
          ></nz-icon>
          <div class="stats-content">
            <span class="stats-label">Level {{ userLevel() }}</span>
            <div class="progress-bar">
              <div
                class="progress-fill"
                [style.width.%]="experiencePercentage()"
              ></div>
            </div>
            <span class="stats-value"
              >{{ userExperience() }}/{{ requiredExperience() }} XP</span
            >
          </div>
        </div>

        <div class="stats-item money-display">
          <nz-icon
            nzType="dollar"
            nzTheme="outline"
            class="stats-icon"
          ></nz-icon>
          <div class="stats-content">
            <span class="stats-label">Balance</span>
            <span class="stats-value">{{ userMoney() | number }}</span>
          </div>
        </div>

        <app-notification-dropdown></app-notification-dropdown>
        <app-user-account-button></app-user-account-button>
      </div>
    }
  </nz-header>
</nz-affix>
