.dashboard-container {
  min-height: calc(100vh - 100px);
  max-height: calc(100vh - 100px);
  width: 100%;
  max-width: 1600px;
  margin: 20px auto;
  padding: 0 40px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.dashboard-container h1 {
  margin-left: 1%;
}

.header-part {
  height: 5%;
  text-align: left;
  flex: 0 0 auto;
}

.header-part h1 {
  margin-top: 0;
  font-size: 2.75rem;
}

.dashboard-container nz-divider {
  margin: 0;
}

.dashboard-content {
  display: flex;
  flex: 1;
  gap: 20px;
  overflow: hidden;
  justify-content: center;
  padding: 10px 0;
}

.left-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  overflow: hidden;
  max-width: 70%;
}

.groups-section {
  text-align: left;
  flex: 0 0 auto;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.section-header h1 {
  margin: 0;
  font-size: 2rem;
}

.activities-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.group-card-container,
.activities-card-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: var(--border-radius-xl);
  box-shadow: var(--box-shadow-md);
  background-color: #ffffff;
  margin: 15px;
}

.right-column {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

app-dashboard-activities {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

app-user-statistic-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
