nz-carousel {
  height: 260px;
}

:host ::ng-deep .ant-carousel .slick-prev,
:host ::ng-deep .ant-carousel .slick-next {
  color: var(--fourth-color);
}

:host ::ng-deep .ant-carousel .slick-dots li button {
  background: var(--third-color);
}

:host ::ng-deep .ant-carousel .slick-dots li.slick-active button {
  background: var(--fourth-color);
}

.slide-wrapper {
  vertical-align: top;
  height: 300px;
  width: 100%;
  padding: 20px;
  overflow: hidden;
}

.cards-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-content: center;
  justify-content: center;
}
