nz-carousel {
  height: 260px;
  background-color: var(--main-color);
  border-radius: 25px;
  box-shadow: var(--box-shadow);
}

.slide-wrapper {
  vertical-align: top;
  height: 300px;
  width: 100%;
  padding: 20px;
  overflow: hidden;
}

.cards-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-content: center;
  justify-content: center;
}
