.page-header {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  padding: 10px;
  font-size: 50px;
}
app-back-button {
  display: inline-block;
  position: relative;
  transform: scale(2) translateY(-10px);
}
.pomodoro-session-table {
  display: flex;
  min-height: 100vh;
}

.not-pomodoro-column {
  flex: 0 0 30%;
}

.current-session-column {
  flex: 0 0 40%;
}

.pomodoro-column {
  flex: 0 0 30%;
}

h3
{
  text-align: center;
  padding-top: 10px;
}
.pomodoro-session-table > div {
  position: relative;
  padding: 0 10px;
}

.pomodoro-session-table > div:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: #ccc;
}

.session-column-title {
  text-align: center;
}

h1 {
  color: black;
}

h2 {
  color: black;
}

.start-session-button {
  width: 100%;
  margin-bottom: 10px;
}

.cdk-drag-preview {
  overflow: hidden !important;
}

.cdk-drop-list-dragging {
  overflow: hidden;
}

body.cdk-drag-dragging {
  overflow: hidden;
}

.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
