.input-search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
  gap: var(--spacing-medium);
}

nz-input-group {
  width: 400px;
}
nz-select {
  width: 200px;
}
@media (max-width: 768px) {
  .input-search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 100px;
    flex-wrap: wrap;
  }

  nz-input-group {
    width: 400px;
    max-width: 100%;
  }

  nz-select {
    width: 200px;
    max-width: 100%;
  }
}
