<a nz-dropdown [nzDropdownMenu]="menu" [nzClickHide]="true" class="user-menu">
  <span class="user-menu-text">
    {{ authService.loggedIn() ? authService.username() : "Sign in" }}
  </span>
  <nz-icon nzType="user" nzTheme="outline"></nz-icon>
  <nz-icon nzType="down"></nz-icon>
</a>

<nz-dropdown-menu #menu="nzDropdownMenu" class="navbar-dropdown-menu">
  <ul nz-menu class="navbar-dropdown-ul">
    @if (!authService.loggedIn()) {
      <li nz-menu-item routerLink="/login" class="navbar-dropdown-item">
        Login
      </li>
      <li nz-menu-item routerLink="/register" class="navbar-dropdown-item">
        Register
      </li>
    } @else {
      <li nz-menu-item class="navbar-dropdown-item">
        <button nz-button (click)="router.navigate(['/app/profile'])">
          My Profile
        </button>
      </li>
      <li nz-menu-item class="navbar-dropdown-item">
        <button nz-button (click)="logout()">Logout</button>
      </li>
    }
  </ul>
</nz-dropdown-menu>
