<div class="task-panel">
  <div class="top-bar-container">
    <nz-page-header
      nzTitle="Activities"
      nzSubtitle="Your activities overview"
    ></nz-page-header>
    <div class="create-group-btn">
      <button class="task-create" nz-button (click)="onTaskCreation()">
        Create Task
      </button>
      <button class="habit-create" nz-button (click)="onHabitCreation()">
        Create Habit
      </button>
    </div>
  </div>

  <div class="task-layout">
    <app-task-filter
      [listView]="activityListType"
      [categoryId]="categoryId"
      [difficultyId]="difficultyId"
      [isAlive]="isAlive"
    ></app-task-filter>

    <div class="task-content-container">
      <div class="task-list">
        @if (!loading && activities.length === 0) {
          <div class="empty-state">
            <nz-empty
              [nzNotFoundContent]="contentTpl"
              [nzNotFoundImage]="'simple'"
            >
              <ng-template #contentTpl>
                <h3>
                  @switch (activityListType()) {
                    @case (ActivityListView.Habits) {
                      No habits yet
                    }
                    @case (ActivityListView.Tasks) {
                      No tasks yet
                    }
                    @default {
                      No activities yet
                    }
                  }
                </h3>
                <p>Ready for a new challenge? Create one above!</p>
              </ng-template>
            </nz-empty>
          </div>
        }

        @if (!loading && activities.length > 0) {
          @for (date of getGroupKeys(); track getGroupKeys().keys()) {
            <div class="task-group">
              <h3 class="task-group-title">{{ date }}</h3>

              <div class="tasks-grid">
                @for (activity of groupedTasks[date]; track activity.id) {
                  <app-activity-item
                    [activity]="activity"
                    (editActivity)="onActivityEdit($event)"
                    (activityUpdated)="onActivityUpdated($event)"
                  >
                  </app-activity-item>
                }
              </div>
            </div>
          }
        }
      </div>
    </div>
    @if (editionMode!() || creationMode!()) {
      <app-task-form
        [activity]="selectedActivity()"
        [viewMode]="viewMode()"
        [editionMode]="editionMode!()"
        [creationMode]="creationMode!()"
        (activityFormSubmitted)="onTaskSubmit()"
        (activityDeleted)="onTaskDelete()"
        (closeForm)="onFormClose()"
        [type]="formType()"
      >
      </app-task-form>
    } @else {
      <app-task-calendar
        #calendarComponent
        (deadlineSelected)="endDate.set($event)"
        (deadlineSelected)="startDate.set($event)"
      >
      </app-task-calendar>
    }
  </div>
</div>
