<nz-card [nzTitle]="task.title">
  <p *ngIf="task.description">{{ task.description }}</p>
  <div class="task-tags">
    <p> <span>{{task.categoryName}}</span></p>
    <p><span>{{task.difficultyName}}</span></p>
  </div>

  <div>
    Time:
    <span >{{ task.startTime }}</span>
    <span > - {{ task.endTime }}</span>
    @if(task.completedAt != null){
      <div>(Finished At) - {{task.completedAt}}</div>
    }

  </div>

  @if(task.completedAt == null && task.endTime<= Date.now()){
    <label nz-checkbox [nzChecked]="!isCompleted" (nzCheckedChange)="completeTask($event)">
      Finish Task
    </label>
  }
</nz-card>
