<nz-card [nzTitle]="task.title">
  @if(task.completedAt==null)
  {
  <div>
  <button nz-button (click)="onTaskEdit()" ><nz-icon nzType="setting" nzTheme="outline" /></button>
  </div>
  }
  <p *ngIf="task.description">{{ task.description }}</p>
  <div class="task-tags">
    <p> <span>{{task.categoryName}}</span></p>
    <p><span>{{task.difficultyName}}</span></p>
  </div>

  <div>
    <span > Start -{{ task.startTime | date}}</span>
    <span> | </span>
    <span >Finish  - {{ task.endTime | date }}</span>
    @if(task.completedAt != null){
      <div>(Finished At) - {{task.completedAt| date}}</div>
    }

  </div>

  @if(!isInactive()){
   <button (click)=completeTask()>
     <nz-icon nzType="check-circle" nzTheme="outline" />
   </button>
  }
</nz-card>
