<div class="search-container">
  <div class="store-header">
    <nz-page-header
      nzTitle="Store"
      nzSubtitle="Purchase new items to upgrade your avatar!"
    ></nz-page-header>

    <app-dashboard-input-search
      placeholder="Search items..."
      width="300px"
      (inputChange)="onInputChange($event)"
    />
  </div>

  <div class="content-body">
    <div class="filter-panel">
      <app-store-filter-panel
        (itemSlotChange)="onItemSlotChange($event)"
        (itemRarityChange)="onItemRarityChange($event)"
      >
      </app-store-filter-panel>
    </div>

    <div class="search-result-container">
      <app-store-item-list [items]="items()"> </app-store-item-list>
    </div>
  </div>

  <div class="paging-div">
    <app-pagination-more
      [maxPageIndex]="totalPages()"
      (pageChange)="onPageChange($event)"
    >
    </app-pagination-more>
  </div>
</div>
