.search-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.store-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  margin-bottom: var(--spacing-medium);
  height: 100px;
}

.search-bar {
  padding: 16px;
}

.content-body {
  display: flex;
  flex: 1;
  padding: 0 48px;
  margin-bottom: 1rem;
}

.filter-panel {
  width: 250px;
  flex-shrink: 0;
  padding-right: var(--spacing-medium);
}

.search-result-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.paging-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacing-medium);
  margin: 1rem;
}
