h3
{
  text-align: center;
  color: var(--bg-primary);
}
h1{
  text-align: center;
  color: var(--bg-primary);
  display: flex;
  flex-direction: column;

}

.task-panel
{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url('/background_guest_page.png') center center / cover no-repeat;
}
h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.task-layout {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.h2
{
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;

}

.task-list {
  margin: 1rem;
  flex: 1;
}


@media (max-width: 768px) {
  .task-layout {
    flex-direction: column;
  }
}

