<h1>My Tasks</h1>

<div class="task-layout">
  <aside class="filter-panel">
    <app-task-filter></app-task-filter>
  </aside>

  <div class="task-list">
    @if (!loading && tasks.length === 0) {
      <div class="empty-state">
        You have no tasks yet
      </div>
    }

    @if (!loading && tasks.length > 0) {
      @for (date of getGroupKeys(); track trackByGroupKey ) {
        <div class="task-group">
          <h3 class="task-group-title">{{ date }}</h3>

          <div class="tasks-grid">
            @for (task of groupedTasks[date]; track trackByTaskId) {
              <app-task-item
                [task]="task"
                (taskUpdated)="onTaskUpdated()">
              </app-task-item>
            }
          </div>
        </div>
      }
    }
  </div>
</div>
