
<div class="input-search-container">
  <nz-input-group nzSearch>
    <input
      nz-input
      [value]="value()"
      (input)="onInputChange($event)"
      placeholder="Enter item name"
    />
  </nz-input-group>

  <nz-select
    [(ngModel)]="selectedItemSlotId"
    nzAllowClear
    nzPlaceHolder="Filter by item slot"
    (ngModelChange)="onItemSlotChange($event)"
  >

      <nz-option
        *ngFor="let slot of this.itemSlots()"
        [nzValue]="slot.id"
        [nzLabel]="slot.name"
      ></nz-option>

  </nz-select>

  <nz-select
    [(ngModel)]="selectedItemRarityId"
    nzAllowClear
    nzPlaceHolder="Filter by item rarity"
    (ngModelChange)="onItemRarityChange($event)"
  >

    <nz-option
      *ngFor="let rarity of this.rarities()"
      [nzValue]="rarity.id"
      [nzLabel]="rarity.name"
    ></nz-option>
  </nz-select>
  <button nz-button (click)="resetFilters()"> Reset Filters</button>
</div>
