<nz-modal
  [nzVisible]="isVisible()"
  nzTitle="Forgot Password"
  [nzFooter]="footerTpl"
  (nzOnCancel)="close()"
  nzCentered
  [nzWidth]="500"
>
  <ng-container *nzModalContent>
    <div class="modal-content">
      <div class="info-box">
        <nz-icon nzType="lock" nzTheme="outline" class="info-icon"></nz-icon>
        <p class="info-text">
          Enter your email address and we'll send you a link to reset your
          password.
        </p>
      </div>

      <form nz-form [formGroup]="validateForm" *ngIf="!sentSuccessfully()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input valid e-mail!">
            <nz-input-group nzPrefixIcon="mail">
              <input
                type="email"
                nz-input
                formControlName="email"
                placeholder="your.email@example.com"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </form>

      <div *ngIf="sending()" class="status-message sending-msg">
        <nz-icon nzType="loading" nzTheme="outline"></nz-icon>
        <span>Sending reset link...</span>
      </div>

      <div *ngIf="sentSuccessfully()" class="status-message success-msg">
        <nz-icon nzType="check-circle" nzTheme="fill"></nz-icon>
        <span>Password reset link has been sent to your email!</span>
      </div>

      <div *ngIf="errorMessage()" class="status-message error-msg">
        <nz-icon nzType="close-circle" nzTheme="fill"></nz-icon>
        <span>{{ errorMessage() }}</span>
      </div>
    </div>
  </ng-container>

  <ng-template #footerTpl>
    <button nz-button (click)="close()" class="modal-button">
      <nz-icon nzType="close" nzTheme="outline"></nz-icon>
      <span>Close</span>
    </button>
    <button
      *ngIf="!sentSuccessfully()"
      nz-button
      nzType="primary"
      (click)="sendResetLink()"
      [disabled]="sending()"
      class="modal-button modal-button-primary"
    >
      <nz-icon nzType="send" nzTheme="outline"></nz-icon>
      <span>Send Reset Link</span>
    </button>
  </ng-template>
</nz-modal>
