<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label nzRequired nzFor="oldPassword"></nz-form-label>
    <nz-form-control nzErrorTip="Please provide current password">
      <input
        nz-input
        id="oldPassword"
        name="oldPassword"
        formControlName="oldPassword"
        placeholder="Current Password"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="newPassword">New Password</nz-form-label>
    <nz-form-control
      nzErrorTip="Password should be 8 characters long contain 1 capital letter 1 number and 1 special sign"
    >
      <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixVisibility">
        <input
          nz-input
          formControlName="newPassword"
          placeholder="New Password"
          [type]="isPasswordVisible() ? 'text' : 'password'"
        />
      </nz-input-group>
      <ng-template #suffixVisibility>
        <nz-icon
          class="ant-input-password-icon"
          [nzType]="isPasswordVisible() ? 'eye-invisible' : 'eye'"
          (click)="togglePasswordVisibility()"
        />
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <input
        nz-input
        id="repeatNewPassword"
        name="repeatNewPassword"
        formControlName="repeatNewPassword"
        placeholder="Repeat New Password"
      />
    </nz-form-control>
  </nz-form-item>
</form>

<button
  class="btn primary-btn"
  nz-button
  nzType="primary"
  [disabled]="validateForm.invalid || isSubmitting()"
>
  Reset Password
</button>
