<div class="task-panel">
  <h1>
    My Tasks
    <div class="creation-panel">
      <button class="task-create" nz-button (click)="onTaskCreation()">Create New Task</button>
      <button class="habit-create" nz-button (click)="onHabitCreation()">Create New Habit</button>
    </div>
  </h1>

  <div class="task-layout">
    <app-task-filter
      [categoryId]="categoryId"
      [difficultyId]="difficultyId"
    ></app-task-filter>

    <div class="task-list">
      @if (!loading && activities.length === 0) {
        <div class="empty-state">
          <h3>You have no tasks yet!</h3>
        </div>
      }

      @if (!loading && activities.length > 0) {
        @for (date of getGroupKeys(); track getGroupKeys().keys()) {
          <div class="task-group">
            <h3 class="task-group-title">{{ date }}</h3>

            <div class="tasks-grid">
              @for (activity of groupedTasks[date]; track activity.id) {
                <app-task-item
                  [activity]="activity"
                  (editTask)="onActivityEdit($event)"
                  (taskUpdated)="onTaskUpdated($event)"
                >
                </app-task-item>
              }
            </div>
          </div>
        }
      }
    </div>
    @if (editionMode() || creationMode()) {

      <app-task-form
        [activity]="selectedActivity()"
        [editionMode]="editionMode"
        [creationMode]="creationMode"
        [viewMode]="viewMode()"
        (activityFormSubmitted)="onTaskSubmit()"
        (activityDeleted)="onTaskDelete()"
        [type] ="formType()"
      >
      </app-task-form>
    }
    @else {
      <app-task-calendar
        (deadlineSelected)="endDate.set($event)"
        (deadlineSelected)="startDate.set($event)"
      >
      </app-task-calendar>
    }
  </div>
</div>
