<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label nzRequired nzFor="oldPassword"
      >Current Password</nz-form-label
    >
    <nz-form-control nzErrorTip="Please provide current password">
      <nz-input-password nzPrefixIcon="lock">
        <input
          nz-input
          formControlName="oldPassword"
          placeholder="Current Password"
        />
      </nz-input-password>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="newPassword">New Password</nz-form-label>
    <nz-form-control
      nzErrorTip="Password should be 8 characters long contain 1 capital letter 1 number and 1 special sign"
    >
      <nz-input-password nzPrefixIcon="lock">
        <input
          nz-input
          id="newPassword"
          name="newPassword"
          formControlName="newPassword"
          placeholder="New Password"
        />
      </nz-input-password>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="repeatNewPassword"
      >Repeat New Password</nz-form-label
    >
    <nz-form-control nzErrorTip="Passwords do not match">
      <nz-input-password>
        <input
          nz-input
          id="repeatNewPassword"
          name="repeatNewPassword"
          formControlName="repeatNewPassword"
          placeholder="Repeat New Password"
        />
      </nz-input-password>
    </nz-form-control>
  </nz-form-item>
  <button
    class="btn primary-btn"
    nz-button
    nzType="primary"
    [disabled]="validateForm.invalid || isSubmitting()"
  >
    Change Password
  </button>
</form>
