.dashboard-container {
  min-height: 100vh;
  max-height: 100vh;
  margin: 20px 200px 20px 200px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.dashboard-container h1 {
  margin-left: 1%;
}

.header-part {
  height: 5%;
  text-align: left;
  flex: 0 0 auto;
}

.header-part h1 {
  margin-top: 0;
  font-size: 2.75rem;
}

.upper-part {
  text-align: left;
  height: 30%;
  flex: 0 0 auto;
  margin-top: 0px;
}

.upper-part h1 {
  margin-top: 10px;
  font-size: 2rem;
}

.dashboard-container nz-divider {
  margin: 0;
}

.main-part {
  flex: 1;
  width: 100%;
  flex-direction: row;
  display: flex;
  gap: 20px;
  overflow: hidden;
  align-content: center;
  justify-content: center;
  padding: 10px;
}

.card-container {
  align-content: center;
}

app-dashboard-activities,
app-user-statistic-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
