<div class="dashboard-container">
  <div class="header-part">
    <h1>Welcome Back, {{ username }}!</h1>
  </div>

  <div class="dashboard-content">
    <div class="left-column">
      <div class="groups-section">
        <h1>Your Groups</h1>

        <div class="group-card-container">
          <app-group-carousel-component
            [groups]="groups"
            [totalGroupPages]="groupTotalPage()"
            [isLoading]="isGroupListLoading()"
            (slideChanged)="loadGroups($event)"
          >
          </app-group-carousel-component>
        </div>
      </div>
      <div class="activities-section">
        <h1>Today's Activities</h1>
        <div class="activities-card-container">
          <app-dashboard-activities
            [activities]="activities"
            [isLoading]="isActivityListLoading()"
            (removeActivity)="onActivityFinished($event)"
          >
          </app-dashboard-activities>
        </div>
      </div>
    </div>

    <div class="right-column">
      <div class="card-container">
        <app-user-statistic-card
          [statistics]="statistics"
          [isLoading]="isStatisticsCardLoading()"
        >
        </app-user-statistic-card>
      </div>
    </div>
  </div>

  <app-onboarding-modal
    [visible]="showOnboarding()"
    [userId]="userId()"
    (completed)="onOnboardingCompleted()"
  ></app-onboarding-modal>
</div>
