@if (isVisible()) {
  <nz-spin [nzSpinning]="loading()">
    @if (!loading()) {
      <nz-modal
        [(nzVisible)]="isVisible"
        nzTitle="{{ itemDetails.name }}"
        (nzOnCancel)="handleCancel()"
        (nzOnOk)="handleOk()"
        nzWidth="500"
        nzCentered
        nzWrapClassName="centered-title-modal"
      >
        <ng-container *nzModalContent>
          <div class="item-details-container">
            <div class="image-section">
              <img
                ngSrc="../../../../../assets/placeholder.png"
                [alt]="itemDetails.name"
                class="item-image"
                width="100"
                height="100"
              />
            </div>

            <div class="attributes-section">
              <p class="attribute-row">
                <strong>Status:</strong>
                <span
                  [class]="
                    itemDetails.isAlreadyOwned
                      ? 'owned-status'
                      : 'not-owned-status'
                  "
                >
                  {{
                    itemDetails.isAlreadyOwned
                      ? "Already Owned"
                      : "Available in store"
                  }}
                </span>
              </p>

              <p class="attribute-row">
                <strong>Rarity:</strong>
                <span class="rarity" [ngStyle]="{ color: rarityColor }">
                  {{ itemDetails.rarity.name }}
                </span>
              </p>

              <p class="attribute-row">
                <strong>Slot:</strong>
                <span>{{ itemDetails.itemSlot.name }}</span>
              </p>

              <p class="attribute-row price-row">
                <strong>Price:</strong>
                <span class="price-value">{{ itemDetails.price }}</span>
              </p>
            </div>

            <div class="description-section">
              <h3>Description</h3>
              <p>{{ itemDetails.description }}</p>
            </div>
          </div>
        </ng-container>
      </nz-modal>
    }
  </nz-spin>
}
