<div class="task-form">
  <button nz-button nzType="default" nzShape="circle" (click)="onClose()">
    <nz-icon nzType="close"></nz-icon>
  </button>
  <form class="task-form" [formGroup]="validActivityForm">
    @if (this.type()==ActivityType.TASK)
    {
      <h2>TASK</h2>
    } @else {

      <h2>Habit</h2>
    }

    <nz-form-item>
      <nz-form-label nzRequired nzFor="title">Title</nz-form-label>
      <nz-form-control nzErrorTip="Please provide valid Title">
        <input
          nz-input
          id="title"
          name="title"
          formControlName="title"
          placeholder="My  New Task"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired nzFor="categoryId">Category</nz-form-label>
      <nz-form-control nzErrorTip="Please provide category">
        <nz-select
          nzId="categoryId"
          formControlName="categoryId"
          nzPlaceHolder="Select Category"
        >
          @for (category of categories; track category.categoryId) {
            <nz-option
              [nzValue]="category.categoryId"
              [nzLabel]="category.categoryName"
            ></nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired nzFor="difficultyId">Difficulty</nz-form-label>
      <nz-form-control nzErrorTip="Please provide difficulty">
        <nz-select
          nzId="difficultyId"
          formControlName="difficultyId"
          nzPlaceHolder="Select Difficulty"
        >
          @for (difficulty of difiiculties; track difficulty.difficultyId) {
            <nz-option
              [nzValue]="difficulty.difficultyId"
              [nzLabel]="difficulty.difficultyName"
            ></nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired nzFor="description">Description</nz-form-label>
      <nz-form-control nzErrorTip="Please provide valid Description">
        <textarea
          nz-input
          id="description"
          name="description"
          formControlName="description"
          placeholder="Put Your Task Description Here"
          [nzAutosize]="{ minRows: 2, maxRows: 6 }"
        ></textarea>
      </nz-form-control>
    </nz-form-item>


    @if (this.type()==ActivityType.TASK) {
      <nz-form-item>
        <nz-form-label >End Time</nz-form-label>
        <nz-form-control nzErrorTip="Please provide valid End Time">
          <nz-date-picker
            nzId="deadlineDate"
            formControlName="deadlineDate"
            nzPlaceHolder="2003-11-30"
          ></nz-date-picker>
          <nz-time-picker
            nzId="deadlineHour"
            formControlName="deadlineHour"
            nzPlaceHolder="12:00"
            nzFormat="HH:mm"
            style="flex: 1"
          >
          </nz-time-picker>
        </nz-form-control>
      </nz-form-item>

    } @else
    {
      <nz-form-item>
        <nz-form-label> Habit Cycle Length</nz-form-label>
        <nz-form-control nzErrorTip="Provide valid number of cycle lenght days">
          <nz-input-number
            formControlName="cycleLength"
            nzMin="1"
            nzMax="100"
            nzPlaceHolder="1"
          />
        </nz-form-control>
      </nz-form-item>

    }

    @if (this.pomodoroCreation() || this.pomodoroEdition()) {
      <app-pomodoro-form
        [pomodoroCreation]="pomodoroCreation"
        [pomodoroEdition]="pomodoroEdition"
      ></app-pomodoro-form>
    }
  </form>
  <div class="button-panel">
    <button nz-button nzShape="round" (click)="onSubmit()">Save</button>
    @if (this.editionMode?.()) {
      <button
        class="delete-button"
        nz-button
        nzShape="round"
        (click)="onDelete()"
      >
        Delete <nz-icon nzType="delete"></nz-icon>
      </button>
    }
  </div>
</div>
