<div class="search-container">
  <div class="search-bar-container">
    <nz-page-header
      nzTitle="Community"
      nzSubtitle="Join groups and compete with others!"
    ></nz-page-header>
    <div class="search-bar">
      <app-community-input-search
        (inputChange)="onInputChange($event)"
        (groupTypeChange)="onGroupTypeChange($event)"
      >
      </app-community-input-search>
    </div>
    <div class="create-group-btn">
      <button
        nz-button
        nzType="primary"
        nzSize="large"
        (click)="openAddGroupModal()"
      >
        <span nz-icon nzType="plus" nzTheme="outline"></span>
        Create Group
      </button>
    </div>
  </div>

  @if (groups().length > 0) {
    <div class="search-result-container">
      <app-group-list [groups]="groups()"></app-group-list>
    </div>

    <div class="paging-div">
      <app-pagination-more
        [maxPageIndex]="totalPages()"
        (pageChange)="onPageChange($event)"
      >
      </app-pagination-more>
    </div>
  } @else {
    <nz-empty
      nzNotFoundContent="No groups found"
      [nzNotFoundImage]="'simple'"
      style="margin: 60px 0"
    >
    </nz-empty>
  }
</div>

<app-add-group-form (groupCreated)="onGroupCreated()"></app-add-group-form>
