.search-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.search-result-container {
  flex: 1;
}

.paging-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacing-medium);
}