.search-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.search-bar-container {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 800px) 1fr;
  align-items: center;
  margin-bottom: var(--spacing-medium);
  padding: 0 var(--spacing-medium);
  gap: var(--spacing-medium);
}

.search-bar {
  grid-column: 2;
  width: 100%;
}

.create-group-btn {
  grid-column: 3;
  justify-self: end;
}

.search-result-container {
  flex: 1;
  padding: 0 var(--spacing-medium);
}

.paging-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacing-medium);
}
