.div-email-verification-result {
  display: flex;
  background: url("/src/assets/background_guest_page.png") center center / cover
    no-repeat;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: calc(100vh - 64px);
}

.card-email-verification-result {
  max-width: 40%;
}

.card-email-verification-result nz-result {
  padding: 0;
}
