<div class="filter-panel">
  <ul nz-menu nzMode="inline" style="width: 240px">
    <li
      nz-submenu
      [(nzOpen)]="openMap['status']"
      (nzOpenChange)="openHandler('status')"
      nzTitle="Tasks"
      nzIcon="check-square"
    >
      <ul>
        <li
          nz-menu-item
          (click)="activeTaskSelected()"
          (keyup.enter)="activeTaskSelected()"
          tabindex="0"
        >
          Active Tasks
        </li>
        <li
          nz-menu-item
          (click)="inactiveTaskSelected()"
          (keyup.enter)="inactiveTaskSelected()"
          tabindex="0"
        >
          Journey History
        </li>
      </ul>
    </li>
    <li
      nz-submenu
      [(nzOpen)]="openMap['difficulty']"
      (nzOpenChange)="openHandler('difficulty')"
      nzTitle="Difficulty"
      nzIcon="fire"
    >
      <ul>
        <li
          nz-menu-item
          (click)="difficultySelected(1)"
          (keyup.enter)="difficultySelected(1)"
          tabindex="0"
        >
          Easy
        </li>
        <li
          nz-menu-item
          (click)="difficultySelected(2)"
          (keyup.enter)="difficultySelected(2)"
          tabindex="0"
        >
          Medium
        </li>
        <li
          nz-menu-item
          (click)="difficultySelected(3)"
          (keyup.enter)="difficultySelected(3)"
          tabindex="0"
        >
          Hard
        </li>
      </ul>
    </li>
    <li
      nz-submenu
      [(nzOpen)]="openMap['category']"
      (nzOpenChange)="openHandler('category')"
      nzTitle="Category"
      nzIcon="product"
    >
      <ul>
        <li
          nz-menu-item
          (click)="categorySelected(1)"
          (keyup.enter)="categorySelected(1)"
          tabindex="0"
        >
          Work
        </li>
        <li
          nz-menu-item
          (click)="categorySelected(2)"
          (keyup.enter)="categorySelected(2)"
          tabindex="0"
        >
          Personal
        </li>
        <li
          nz-menu-item
          (click)="categorySelected(3)"
          (keyup.enter)="categorySelected(3)"
          tabindex="0"
        >
          Health
        </li>
      </ul>


    <li
    nz-menu-item
    (click)="pomodoroSessionSelected()"
    (keyup.enter)="pomodoroSessionSelected()"
    tabindex="0"
  ><nz-icon nzType="clock-circle"></nz-icon> Pomodoro Session
  </li>

  </ul>

</div>
