<div class="filter-panel">
<ul nz-menu nzMode="inline" style="width: 240px;">
  <li
    nz-submenu
    [(nzOpen)]="openMap['status']"
    (nzOpenChange)="openHandler('status')"
    nzTitle="Tasks"
    nzIcon="check-square"
  >
    <ul>
      <ul>
        <li nz-menu-item (click)="activeTaskSelected()">Active Tasks</li>
        <li nz-menu-item (click)="inactiveTaskSelected()">Journey History</li>
      </ul>
    </ul>
  </li>
  <li
    nz-submenu
    [(nzOpen)]="openMap['difficulty']"
    (nzOpenChange)="openHandler('difficulty')"
    nzTitle="Difficulty"
    nzIcon="fire"
  >

    <ul>
      <li nz-menu-item (click)="difficultySelected(1)">Easy</li>
      <li nz-menu-item (click)="difficultySelected(2)">Medium</li>
      <li nz-menu-item (click)="difficultySelected(3)">Hard</li>
    </ul>
  </li>
  <li
    nz-submenu
    [(nzOpen)]="openMap['category']"
    (nzOpenChange)="openHandler('category')"
    nzTitle="Category"
    nzIcon="product"
  >
    <ul>
      <li nz-menu-item (click)="categorySelected(1)">Work</li>
      <li nz-menu-item (click)="categorySelected(2)">Personal</li>
      <li nz-menu-item (click)="categorySelected(3)">Health</li>
    </ul>
  </li>
  <li nz-menu-item routerLink="/app/tasks/pomodoro-session">Pomodoro Session</li>
</ul>
</div>
