<div class="filter-panel">
  <ul nz-menu nzMode="inline" style="width: 240px">

    <li nz-submenu nzTitle="Activities" nzIcon="appstore" [(nzOpen)]="openMap['Activities']">
      <ul>
        <li nz-menu-item
            [nzSelected]="listView?.() === 'Activities' && categoryId?.() === null && difficultyId?.()"
            (click)="activitiesSelected()">All Activities</li>

        <li nz-submenu nzTitle="Difficulty" nzIcon="fire">
          <ul>
            <li nz-menu-item [nzSelected]="listView?.() === 'Activities' && difficultyId?.() === 1" (click)="difficultySelected(1, 'Activities')">Easy</li>
            <li nz-menu-item [nzSelected]="listView?.() === 'Activities' && difficultyId?.() === 2" (click)="difficultySelected(2, 'Activities')">Medium</li>
            <li nz-menu-item [nzSelected]="listView?.() === 'Activities' && difficultyId?.() === 3" (click)="difficultySelected(3, 'Activities')">Hard</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Category" nzIcon="product">
          <ul>
            <li nz-menu-item [nzSelected]="listView?.() === 'Activities' && categoryId?.() === 1" (click)="categorySelected(1, 'Activities')">Work</li>
            <li nz-menu-item [nzSelected]="listView?.() === 'Activities' && categoryId?.() === 2" (click)="categorySelected(2, 'Activities')">Personal</li>
            <li nz-menu-item [nzSelected]="listView?.() === 'Activities' && categoryId?.() === 3" (click)="categorySelected(3, 'Activities')">Health</li>
          </ul>
        </li>
      </ul>
    </li>

    <li nz-submenu nzTitle="Tasks" nzIcon="check-square" [(nzOpen)]="openMap['tasks']">
      <ul>
        <li nz-menu-item [nzSelected]="listView?.() === 'Tasks' && isAlive?.() === true && categoryId?.() === null && difficultyId?.() === null" (click)="activeTaskSelected()">Active Tasks</li>
        <li nz-menu-item [nzSelected]="listView?.() === 'Tasks' && isAlive?.() === false" (click)="inactiveTaskSelected()">Journey History</li>

        <li nz-submenu nzTitle="Difficulty" nzIcon="fire">
          <ul>
            <li nz-menu-item [nzSelected]="listView?.() === 'Tasks' && difficultyId?.() === 1" (click)="difficultySelected(1, 'Tasks')">Easy</li>
            <li nz-menu-item [nzSelected]="listView?.() === 'Tasks' && difficultyId?.() === 2" (click)="difficultySelected(2, 'Tasks')">Medium</li>
            <li nz-menu-item [nzSelected]="listView?.() === 'Tasks' && difficultyId?.() === 3" (click)="difficultySelected(3, 'Tasks')">Hard</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Category" nzIcon="product">
          <ul>
            <li nz-menu-item [nzSelected]="listView?.() === 'Tasks' && categoryId?.() === 1" (click)="categorySelected(1, 'Tasks')">Work</li>
            <li nz-menu-item [nzSelected]="listView?.() === 'Tasks' && categoryId?.() === 2" (click)="categorySelected(2, 'Tasks')">Personal</li>
            <li nz-menu-item [nzSelected]="listView?.() === 'Tasks' && categoryId?.() === 3" (click)="categorySelected(3, 'Tasks')">Health</li>
          </ul>
        </li>
      </ul>
    </li>

    <li nz-submenu nzTitle="Habit" nzIcon="delete" [(nzOpen)]="openMap['Habits']">
      <ul>
        <li nz-menu-item [nzSelected]="listView?.() === 'Habits' && isAlive?.() === true && categoryId?.() === null && difficultyId?.() === null" (click)="activeHabitSelected()">Ongoing Habits</li>
        <li nz-menu-item [nzSelected]="listView?.() === 'Habits' && isAlive?.() === false" (click)="inactiveHabitSelected()">Past Habits</li>

        <li nz-submenu nzTitle="Difficulty" nzIcon="fire">
          <ul>
            <li nz-menu-item [nzSelected]="listView?.() === 'Habits' && difficultyId?.() === 1" (click)="difficultySelected(1, 'Habits')">Easy</li>
            <li nz-menu-item [nzSelected]="listView?.() === 'Habits' && difficultyId?.() === 2" (click)="difficultySelected(2, 'Habits')">Medium</li>
            <li nz-menu-item [nzSelected]="listView?.() === 'Habits' && difficultyId?.() === 3" (click)="difficultySelected(3, 'Habits')">Hard</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Category" nzIcon="product">
          <ul>
            <li nz-menu-item [nzSelected]="listView?.() === 'Habits' && categoryId?.() === 1" (click)="categorySelected(1, 'Habits')">Work</li>
            <li nz-menu-item [nzSelected]="listView?.() === 'Habits' && categoryId?.() === 2" (click)="categorySelected(2, 'Habits')">Personal</li>
            <li nz-menu-item [nzSelected]="listView?.() === 'Habits' && categoryId?.() === 3" (click)="categorySelected(3, 'Habits')">Health</li>
          </ul>
        </li>
      </ul>
    </li>

    <li nz-menu-item (click)="pomodoroSessionSelected()">
      <nz-icon nzType="clock-circle"></nz-icon> Pomodoro Session
    </li>
  </ul>
</div>
