<nz-card class="group-tasks-card" nzTitle="Group Tasks">
  <nz-radio-group
    class="group-tasks-filter"
    [(ngModel)]="selectedFilter"
    (ngModelChange)="onFilterChange($event)"
    nzSize="large"
  >
    <button nz-radio-button nzValue="active">Active Tasks</button>
    <button nz-radio-button nzValue="accepted">Accepted Tasks</button>
    <button nz-radio-button nzValue="declined">Declined Tasks</button>
  </nz-radio-group>
  <div class="group-tasks-list" (scroll)="onListScroll($event)">
    @if (loading()) {
      <div class="loading-container">
        <nz-spin nzSimple nzSize="large"></nz-spin>
      </div>
    } @else {
      @if (tasksList().length === 0) {
        <div class="empty-state">
          <nz-empty [nzNotFoundContent]="contentTpl"></nz-empty>
          <ng-template #contentTpl>
            <span class="empty-text">
              {{ getEmptyStateTitle() }}
              <br />
              <small>{{ getEmptyStateSubTitle() }}</small>
            </span>
          </ng-template>
        </div>
      } @else {
        @for (task of tasksList(); track task.taskDto.id) {
          <app-group-task
            [task]="task"
            [group]="group()!"
            [mode]="mode()"
            [membersList]="groupMembersList()"
            (taskUpdated)="onTaskListUpdate()"
            (rewardGiven)="onGroupRefresh()"
          ></app-group-task>
        }

        @if (loadingMore()) {
          <div class="loading-more-container">
            <nz-spin nzSimple></nz-spin>
          </div>
        }
      }
    }
  </div>

  <div class="bottom-tasks-list-panel">
    @if (mode() !== GroupPreviewMode.PUBLIC) {
      <button nz-button nzShape="circle" (click)="createTask()">
        <nz-icon nzType="plus"></nz-icon>
      </button>
    }
  </div>
</nz-card>

<app-group-task-form
  [groupId]="group()!.groupId"
  (formSubmitted)="onTaskListUpdate()"
>
</app-group-task-form>
