<aside class="sidebar">
  <h4>Active Tasks</h4>
  <button nz-button (click)="activeTaskSelected();">Active Tasks</button>

  <h4>Difficulty</h4>
  <button nz-button (click)="difficultySelected(1)">Easy</button>
  <button nz-button (click)="difficultySelected(2)">Medium</button>
  <button nz-button (click)="difficultySelected(3)">Hard</button>

  <h4>Category</h4>
  <button nz-button (click)="categorySelected(1)">Work</button>
  <button nz-button (click)="categorySelected(2)">Personal</button>
  <button nz-button (click)="categorySelected(3)">Health</button>
  <h4>Completed Tasks</h4>
  <button nz-button (click)="inactiveTaskSelected()">Hall Of Fame</button>

</aside>
