<aside class="sidebar">
  <h4>Difficulty</h4>
  <button nz-button (click)="difficultyId?.set(1), categoryId?.set(null)">Easy</button>
  <button nz-button (click)="difficultyId?.set(2), categoryId?.set(null)">Manageable</button>
  <button nz-button (click)="difficultyId?.set(3), categoryId?.set(null)">Demanding</button>
  <h4>Category</h4>
  <button nz-button (click)="categoryId?.set(1),difficultyId?.set(null)">Personal</button>
  <button nz-button (click)="categoryId?.set(2),difficultyId?.set(null)">Work</button>
  <button nz-button (click)="categoryId?.set(3),difficultyId?.set(null)">Health</button>
  <h4 (click)="isCompleted?.set(true)">Completed Tasks</h4>
</aside>
