<nz-card class="task-card">
  <div class="task-header-controls">
    <button nz-button nzShape="circle" (click)="onTaskEdit()"><nz-icon nzType ="setting"></nz-icon></button>
  </div>

  <div class="task-content">
    <div class="task-header">
      <h1 class="task-title">{{ activity.title }}</h1>
      @if (activity.pomodoro!=undefined)
      {
        <app-pomodoro-task-progress
        [cyclesCompleted]="activity.pomodoro.cyclesCompleted"
        [cyclesRequired]="activity.pomodoro.cyclesRequired"
        >
        </app-pomodoro-task-progress>
      }
    </div>

    <div class="info-container">
      <div class="info-item">
        <nz-icon nzType="file-text" class="info-icon"></nz-icon>
        <div class="info-content">
          <div class="info-label">Description</div>
          <div class="info-value">{{ activity.description }}</div>
        </div>
      </div>

      <div class="info-item">
        <nz-icon nzType="tag" class="info-icon"></nz-icon>
        <div class="info-content">
          <div class="info-label">Difficulty / Category</div>
          <div class="info-value">
            {{ activity.difficultyName }}
            <span class="limit">/</span>
            {{ activity.categoryName}}
          </div>
        </div>
      </div>

      <div class="info-item">
        <nz-icon nzType="calendar" class="info-icon"></nz-icon>
        <div class="info-content">
          <div class="info-label">Deadline</div>
          <div class="info-value">{{ activity.deadlineDate }}</div>
        </div>
      </div>

      <div class="info-item">
        <nz-icon nzType="info" class="info-icon"></nz-icon>
        <div class="info-content">
          <div class="info-label">Type</div>
          <div class="info-value">{{ activity.type }}</div>
        </div>
      </div>
    </div>

    @if (activity.type==ActivityType.HABIT)
    {
    <div class="info-item participants-list">
      <nz-icon nzType="team" class="info-icon"></nz-icon>
      <div class="info-content">
        <div class="info-label">Participants</div>
        <div class="info-value participants-container">

            <span class="participant-item">

            </span>

        </div>
      </div>
    </div>
    }

      <div class="info-item">
        <nz-icon nzType="warning" class="info-icon"></nz-icon>
        <div class="info-label">Decline Message</div>
        <div class="info-value">

        </div>
      </div>

  </div>

  <div class="task-actions-footer">


    <div class="action-right">
      @if (this.activity.type==ActivityType.TASK)
      {
        <button nz-button nzShape="circle" (click)="completeTask()"><nz-icon nzType="check-circle"></nz-icon> </button>
      }
      @else {
        <button nz-button nzShape="circle" (click)="completeHabitCycle()"><nz-icon nzType="check-circle"></nz-icon> </button>
      }

    </div>
  </div>
</nz-card>

