<nz-card [nzTitle]="titleTemplate">

  <ng-template #titleTemplate>
    <div class="title-container">
      <span class="title-text">{{ task.title }}</span>

      @if(task.pomodoro?.pomodoroId != null)
      {
      <pomodoro-task-progress
        class="progress-absolute"
        [workCyclesNeeded]="task.pomodoro?.workCyclesNeeded"
        [workCyclesCompleted]="task.pomodoro?.workCyclesCompleted"
      ></pomodoro-task-progress>
      } @else if (task.taskHabit?.habitId != null)
      {
        <button nz-button nzShape="round" class="habit-button"> Finish Habit </button>
      }
    </div>
  </ng-template>

  <div class="upper-part">
  @if(task.completedAt==null)
  {
  @if(!inPomodoroList())
  {
  <button nz-button nzShape="circle" (click)="onTaskEdit()" ><nz-icon nzType="setting" nzTheme="outline" /></button>
  }
  }
  </div>

  <p *ngIf="task.description">{{ task.description }}</p>
  <div class="task-tags">
    <p> <span>{{task.categoryName}}</span></p>
    <p><span>{{task.difficultyName}}</span></p>
  </div>

  <div>
    <span > Start -{{ task.startTime | date}}</span>
    <span> | </span>
    <span >Finish  - {{ task.endTime | date }}</span>
    @if(task.completedAt != null){
      <div>(Finished At) - {{task.completedAt| date}}</div>
    }

  </div>

  @if(!isInactive() && !inPomodoroList()){
   <button nz-button nzShape="circle" (click)=completeTask() >
     <nz-icon nzType="check-circle" nzTheme="outline" />
   </button>
  }
  @else if (inPomodoroList() && task.pomodoro?.pomodoroId==null)
  {
    <button nz-button nzShape="circle" (click)=addTaskToPomodoroSession() >
      <nz-icon nzType="arrow-right" nzTheme="outline" />
    </button>
  } @else if (inPomodoroList()&&task.pomodoro?.pomodoroId!=null&&!isInSession()){
    <button nz-button nzShape="circle" (click)=addTaskToPomodoroSession() >
      <nz-icon nzType="arrow-left" nzTheme="outline" />
    </button>
  }
   @else if (inPomodoroList()&&task.pomodoro?.pomodoroId!=null&& isInSession()){
  <button nz-button nzShape="circle" (click)=removeTaskFromPomodoroSession() >
    <nz-icon nzType="delete" nzTheme="outline" />
  </button>
}
</nz-card>
