<nz-card class="task-card">
  <div class="task-header-controls">

    <div class="action-left">
      @if (mode() === GroupPreviewMode.ADMIN) {
        @if (task().declineMessage==null)
        {
        <button nz-button nzShape="circle" (click)="decline()">
          <nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#c41a1a'"></nz-icon>
        </button>
        }
      }
    </div>

    <div class="action-right">
      @if (mode() === GroupPreviewMode.ADMIN) {
        @if (task().acceptedDate == null && task().declineMessage == null) {
          <button nz-button (click)="accept()">
            Accept Task
          </button>
        }
      }
    </div>
  </div>

  <div class="task-content">
    <div class="task-header">
      <h1 class="task-title">{{ task().taskDto.title }}</h1>
    </div>

    <div class="info-container">

      <div class="info-item">
        <nz-icon nzType="file-text" class="info-icon"></nz-icon>
        <div class="info-content">
          <div class="info-label">Description</div>
          <div class="info-value">{{ task().taskDto.description }}</div>
        </div>
      </div>

      <div class="info-item">
        <nz-icon nzType="tag" class="info-icon"></nz-icon>
        <div class="info-content">
          <div class="info-label">Difficulty / Category</div>
          <div class="info-value">{{ task().taskDto.difficulty.id }} <span class="limit">/</span> {{ task().taskDto.category.id }}</div>
        </div>
      </div>

      <div class="info-item">
        <nz-icon nzType="calendar" class="info-icon"></nz-icon>
        <div class="info-content">
          <div class="info-label">Duration</div>
          <div class="info-value">From: {{ formatedStartDate }} -To: {{ formatedEndDate }}</div>
        </div>
      </div>

    </div>

    <div class="info-item participants-list">
      <nz-icon nzType="team" class="info-icon"></nz-icon>
      <div class="info-content">
        <div class="info-label">Participants</div>
        <div class="info-value participants-container">
          @for (participant of task().groupTaskMembers; track participant.groupTaskMemberId) {
            <span class="participant-item">
              {{ getParticipantUsername(participant.groupMemberId) }}
              @if(participant.isMarkedDone) {
                <nz-icon nzType="check-circle" nzTheme="twotone" [nzTwotoneColor]="'#52c41a'"></nz-icon>
              } @else {
                <nz-icon nzType="close-circle" nzTheme="twotone" [nzTwotoneColor]="'#c41a1a'"></nz-icon>
              }
            </span>
          }
        </div>
      </div>
    </div>
    @if (task().declineMessage!=null)
    {
      <div class="info-item" >
        <nz-icon nzType="warning" class="info-icon"></nz-icon>
        <div class ="info-label"> Decline Message </div>
        <div class="info-value">
          {{task().declineMessage}}
        </div>
      </div>
    }
  </div>

  <div class="task-actions-footer">
    @if(task().acceptedDate == null && task().declineMessage == null) {
      <button nz-button nzShape="circle" (click)="editTask()">
        <nz-icon nzType="setting"></nz-icon>
      </button>

      <button nz-button nzShape="circle" (click)="manageParticipants()">
        <nz-icon nzType="team"></nz-icon>
      </button>
    }

    @if (userIsParticipant() != null && task().acceptedDate == null && task().declineMessage == null) {
      @if(checkIfTaskIsCompletedByUser()){
        <button nz-button nzShape="circle" (click)="removeCompletion()">
          <nz-icon nzType="undo"></nz-icon>
        </button>
      } @else {
        <button nz-button nzShape="circle" (click)="complete()">
          <nz-icon nzType="check"></nz-icon>
        </button>
      }
    }
  </div>
</nz-card>
<app-group-task-form
[groupId]="group().groupId"
[task]="task()"
(formSubmitted)="onUpdate()"
>
</app-group-task-form>

<app-group-task-decline-form
  [groupId]="group().groupId"
  [task]="task()"
  (formSubmitted)="onUpdate()"
>

</app-group-task-decline-form>

<app-group-task-members-manager
  [groupId]="group().groupId"
  [task]="task()"
  [membersList]="membersList()"
  (changed)="checkUserIsParticipant()"
>
</app-group-task-members-manager>


