<div class="div-login-page">
  <div class="div-left-panel">
    <div class="card-inner">
      <h1 class="card-sign-up-title">No account yet?</h1>
      <p class="card-sign-up-subtitle">
        Join GamiLife today and start building better habits with our smart and
        easy-to-use tools.
      </p>
      <div class="signup-actions">
        <button
          nz-button
          nzType="primary"
          nzSize="large"
          class="login-button login-button-primary"
          (click)="goToRegister()"
        >
          <nz-icon nzType="user-add" nzTheme="outline"></nz-icon>
          <span>Sign Up Now</span>
        </button>
      </div>
    </div>
  </div>
  <div class="div-right-panel">
    <form
      nz-form
      [formGroup]="validateForm"
      class="login-form"
      (ngSubmit)="submitForm()"
    >
      <h2 class="login-title">Log in</h2>
      <nz-form-item>
        <nz-form-control
          nzRequired
          nzFor="email"
          nzErrorTip="Please input valid e-mail!"
        >
          <nz-input-wrapper>
            <nz-icon nzInputPrefix nzType="user"></nz-icon>
            <input
              type="text"
              nz-input
              formControlName="email"
              placeholder="E-mail"
            />
          </nz-input-wrapper>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="passwordErrorTpl">
          <nz-input-password>
            <nz-icon nzInputPrefix nzType="lock"></nz-icon>
            <input nz-input formControlName="password" placeholder="Password" />
          </nz-input-password>
        </nz-form-control>

        <ng-template #passwordErrorTpl let-control>
          @if (control.hasError("required")) {
            <ng-container> Please input your password! </ng-container>
          }
          @if (control.getError("apiError")) {
            <ng-container>
              {{ control.getError("apiError") }}
            </ng-container>
          }
        </ng-template>
      </nz-form-item>

      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
          <a
            class="login-form-forgot"
            role="button"
            tabindex="0"
            (click)="openForgotPassword()"
            (keydown.enter)="openForgotPassword()"
            (keydown.space)="openForgotPassword()"
          >
            Forgot password
          </a>
          <app-forgot-password></app-forgot-password>
        </div>
      </div>
      <button
        nz-button
        class="login-form-button login-form-margin"
        [nzType]="'primary'"
        [nzLoading]="isLoading()"
        [disabled]="isLoading()"
      >
        <nz-icon nzType="login" nzTheme="outline"></nz-icon>
        <span>Login</span>
      </button>
      <button
        nz-button
        nzSize="large"
        class="login-button login-button-google"
        (click)="loginWithGoogle()"
        [nzLoading]="isLoading()"
        [disabled]="isLoading()"
      >
        <nz-icon nzType="google" nzTheme="outline"></nz-icon>
        <span>Continue with Google</span>
      </button>
    </form>
    <app-verify-email></app-verify-email>
    <app-link-oauth-account></app-link-oauth-account>
  </div>
</div>
