<nz-modal
  nzTitle="Edit group"
  [nzVisible]="isVisible()"
  nzOkText="Save"
  nzCancelText="Cancel"
  [nzOkLoading]="isLoading()"
  (nzOnOk)="handleEdit()"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <form nz-form nzLayout="vertical" [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="groupName">Group name</nz-form-label>
        <nz-form-control
          nzErrorTip="Please provide valid group name - min. 1, max. 50 characters."
        >
          <input
            nz-input
            id="groupName"
            formControlName="groupName"
            placeholder="e.g. SuperGroup"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired nzFor="groupCurrencySymbol">
          Group currency symbol
          <span
            nz-icon
            nzType="info-circle"
            nzTheme="outline"
            nz-tooltip
            nzTooltipTitle="This will be the currency symbol displayed throughout your group (e.g. $, €, ¥, ₿)"
            style="margin-left: 4px; color: #1890ff; cursor: pointer"
          ></span>
        </nz-form-label>
        <nz-form-control nzErrorTip="Please choose a group currency symbol">
          <nz-select
            formControlName="groupCurrencySymbol"
            nzPlaceHolder="Select symbol"
            nzAllowClear
          >
            <nz-option nzValue="$" nzLabel="$"></nz-option>
            <nz-option nzValue="€" nzLabel="€"></nz-option>
            <nz-option nzValue="£" nzLabel="£"></nz-option>
            <nz-option nzValue="¥" nzLabel="¥"></nz-option>
            <nz-option nzValue="₹" nzLabel="₹"></nz-option>
            <nz-option nzValue="₩" nzLabel="₩"></nz-option>
            <nz-option nzValue="₿" nzLabel="₿"></nz-option>
            <nz-option nzValue="₺" nzLabel="₺"></nz-option>
            <nz-option nzValue="₫" nzLabel="₫"></nz-option>
            <nz-option nzValue="₴" nzLabel="₴"></nz-option>
            <nz-option nzValue="₦" nzLabel="₦"></nz-option>
            <nz-option nzValue="₲" nzLabel="₲"></nz-option>
            <nz-option nzValue="₡" nzLabel="₡"></nz-option>
            <nz-option nzValue="₵" nzLabel="₵"></nz-option>
            <nz-option nzValue="₸" nzLabel="₸"></nz-option>
            <nz-option nzValue="₺" nzLabel="₺"></nz-option>
            <nz-option nzValue="₼" nzLabel="₼"></nz-option>
            <nz-option nzValue="₾" nzLabel="₾"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired nzFor="groupType">Group type</nz-form-label>
        <nz-form-control nzErrorTip="Please choose group type.">
          @if(groupTypes().length>0)
          {
          <nz-select
            formControlName="groupTypeId"
            nzPlaceHolder="Choose group type"
            id="groupType"
          >
            @for (type of groupTypes(); track type.id)
            {
            <nz-option
              [nzValue]="type.id"
              [nzLabel]="type.title"
            ></nz-option>
            }
          </nz-select>
          }
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired nzFor="groupTimeZone">Time Zone</nz-form-label>
        <nz-form-control nzErrorTip="Please provide time zone for your group."></nz-form-control>
        @if (timeZones().length>0)
        {
          <nz-select
          formControlName="groupTimeZone"
          nzPlaceHolder="Chose time zone"
          id="groupTimeZone"
          >
            @for (timeZone of timeZones();track timeZone.value)
            {
              <nz-option
              [nzValue]="timeZone.value"
              [nzLabel]="timeZone.label"
              ></nz-option>
            }
          </nz-select>
            }
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired nzFor="adminId">Admin</nz-form-label>
        <nz-form-control nzErrorTip="Please choose an admin.">
          @if (members().length>0)
          {
          <nz-select

            formControlName="adminId"
            nzPlaceHolder="Choose admin"
            id="adminId"
          >
            @for (member of members();track member.userId)
            {
            <nz-option
              [nzValue]="member.userId"
              [nzLabel]="member.username"
            ></nz-option>
            }
          </nz-select>
          }
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired nzFor="membersLimit">
          Members limit
        </nz-form-label>
        <nz-form-control
          nzErrorTip="Please provide valid members limit - min. 2, max. 100."
        >
          <input
            nz-input
            id="membersLimit"
            formControlName="membersLimit"
            placeholder="e.g. 10"
            type="number"
          />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
