<div class="calendar-panel">
  <div class="button-panel">
    <button nz-button (click)="changeMonth(-1)">
      <span nz-icon nzType="left"></span>
    </button>

    <h1>{{ activeViewDate | date: 'MMMM yyyy' }}</h1>

    <button nz-button (click)="changeMonth(1)">
      <span nz-icon nzType="right"></span>
    </button>
  </div>

  <nz-calendar
    [(ngModel)]="activeViewDate"
    (nzSelectChange)="onDateSelect($event)">
    <ul *nzDateCell="let date" class="events">
      @for (activity of this.taskCalendarList; track activity.id) {
        @if (isSameDay(activity.deadlineDate, date)) {
          <li>
            <span class="event-badge" [style.backgroundColor]="activityColors[activity.type]"></span>
            {{ activity.title }}
          </li>
        }
      }
    </ul>
  </nz-calendar>
</div>
