<div class="calendar-panel">
  <div class="button-panel">
    <button nz-button><nz-icon nzType="arrow-left"></nz-icon></button>
    <h1 *nzDateCell="let month">{{ month.getMonth() }}</h1>
    <button nz-button><nz-icon nzType="arrow-right"></nz-icon></button>
  </div>
  <nz-calendar>
    <ul *nzDateCell="let date" class="events">
      @for (activity of this.taskCalendarList; track activity.id) {
        @if (isSameDay(activity.deadlineDate, date)) {
          <li>
            <span class="event-badge"></span>
            {{ activity.title }}
          </li>
        }
      }
    </ul>
  </nz-calendar>
</div>
