<nz-card class="group-card" [nzTitle]="cardTitle" [nzHoverable]="true">
  <ng-template #cardTitle>
    <div class="card-title">
      <span nz-icon nzType="team" nzTheme="outline"></span>
      <span class="group-name">{{ group.groupName }}</span>
    </div>
  </ng-template>

  <div class="group-info">
    <div class="info-row">
      <span nz-icon nzType="info-circle" nzTheme="outline"></span>
      <span class="label">Type:</span>
      <span class="value">
        <app-group-type-tag [typeTitle]="group.groupType.title" />
      </span>
    </div>

    <div class="info-row">
      <span nz-icon nzType="user" nzTheme="outline"></span>
      <span class="label">Members:</span>
      <span class="value">
        {{ group.membersCount }} / {{ group.membersLimit }}
      </span>
    </div>

    <div class="info-row">
      <span nz-icon nzType="dollar" nzTheme="outline"></span>
      <span class="label">Currency:</span>
      <span class="value">{{ group.groupCurrencySymbol }}</span>
    </div>
  </div>

  <div class="card-actions">
    <button nz-button nzType="primary" nzBlock="" (click)="goToPreview()">
      <span nz-icon nzType="login" nzTheme="outline"></span>
      Preview
    </button>
  </div>
</nz-card>
