.activities-list {
  display: flex;
  flex: 1;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
  align-content: center;
}

::-webkit-scrollbar {
  background: transparent;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--fourth-color);
  border-radius: 36px;
}

nz-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 15px;
  overflow-x: hidden;
}

app-activity-item {
  display: block;
  width: 100%;
}

.empty-text {
  font-family: var(--main-font);
  font-size: 1.2rem;
  color: var(--text-primary-color);
  margin-bottom: 5px;
}
