<div class="activities-list" nz-flex>
  <div class="title">
    <h1><nz-list-header>Activities for Today</nz-list-header></h1>
    <nz-divider></nz-divider>
  </div>
  <div class="list-content">
    <nz-list nz-flex>
      @if (isLoading()) {
        <nz-spin></nz-spin>
      } @else {
        @if (this.activities().length) {
          @for (activity of activities(); track activity.id) {
            <app-activity-item
              [activity]="activity"
              [isOnDashboard]="true"
              (activityUpdated)="removeFromList($event)"
            >
            </app-activity-item>
          }
        } @else {
          <h3>You have no activities for today</h3>
          <nz-list-empty></nz-list-empty>
        }
      }
    </nz-list>
  </div>
</div>
