<div class="activities-list" nz-flex>
  <nz-list nz-flex>
    @if (isLoading()) {
    } @else {
      @if (this.activities().length) {
        @for (activity of activities(); track activity.id) {
          <app-activity-item
            [activity]="activity"
            [isOnDashboard]="true"
            (activityUpdated)="removeFromList($event)"
          >
          </app-activity-item>
        }
      } @else {
        <nz-list-empty>You have no activities for today</nz-list-empty>
      }
    }
  </nz-list>
</div>
