<div class="avatar-customization-container">
  <div class="avatar-preview-section">
    <nz-card [nzTitle]="'Avatar Preview'" [nzBordered]="true">
      <div class="avatar-display">
        <img
          [src]="'assets/placeholder.png'"
          alt="User Avatar"
          class="avatar-image"
        />
        <button
          nz-button
          nzType="primary"
          *ngIf="viewMode === ProfileViewMode.OWNER"
          class="edit-button"
        >
          <i nz-icon nzType="edit"></i>
          Edit Avatar
        </button>
      </div>
    </nz-card>
  </div>

  <div class="items-section">
    <app-item-slot-filter (filterChange)="onFilterChange($event)">
    </app-item-slot-filter>

    <nz-spin [nzSpinning]="loading">
      <div class="items-grid" *ngIf="items.length > 0; else noItems">
        <app-inventory-item
          *ngFor="let item of items"
          [item]="item"
          (itemClick)="onItemClick($event)"
        >
        </app-inventory-item>
      </div>

      <ng-template #noItems>
        <nz-empty nzNotFoundContent="No items found" nzNotFoundImage="simple">
        </nz-empty>
      </ng-template>

      <div class="pagination-container" *ngIf="totalPages > 1">
        <nz-pagination
          [nzPageIndex]="currentPage + 1"
          [nzTotal]="totalElements"
          [nzPageSize]="pageSize"
          (nzPageIndexChange)="onPageChange($event)"
          nzShowSizeChanger
          [nzPageSizeOptions]="[6, 12, 24]"
          (nzPageSizeChange)="onPageSizeChange($event)"
        >
        </nz-pagination>
      </div>
    </nz-spin>
  </div>
</div>
