<div class="reset-password-page">
  <div class="form-panel">
    <form
      nz-form
      [formGroup]="validateForm"
      class="reset-password-form"
      (ngSubmit)="submitForm()"
    >
      <h2 class="form-title">Reset Password</h2>
      <p class="form-subtitle">
        Choose a new strong password to secure your account.
      </p>

      <nz-form-item>
        <nz-form-control [nzErrorTip]="passwordErrorTpl">
          <nz-input-password>
            <nz-icon nzInputPrefix nzType="lock"></nz-icon>
            <input
              nz-input
              formControlName="password"
              placeholder="New Password"
            />
          </nz-input-password>
        </nz-form-control>
        <ng-template #passwordErrorTpl let-control>
          @if (control.hasError("required")) {
            <ng-container> Please input your password! </ng-container>
          }
          @if (control.hasError("passwordStrength")) {
            <ng-container>
              Password must be 8–128 characters long and include at least one
              letter, one digit, and one special character.
            </ng-container>
          }
        </ng-template>
      </nz-form-item>

      <button
        nz-button
        class="submit-button"
        nzType="primary"
        [nzLoading]="isSubmitting()"
        [disabled]="validateForm.invalid || isSubmitting()"
      >
        <nz-icon nzType="check-circle" nzTheme="outline"></nz-icon>
        <span>Update Password</span>
      </button>

      <div class="form-footer">
        <a routerLink="/login" class="back-link">
          <nz-icon nzType="arrow-left" nzTheme="outline"></nz-icon>
          <span>Back to Login</span>
        </a>
      </div>
    </form>
  </div>
</div>
