<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control [nzErrorTip]="passwordErrorTpl">
      <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixVisibility">
        <input
          nz-input
          formControlName="password"
          placeholder="New Password"
          [type]="isPasswordVisible() ? 'text' : 'password'"
        />
      </nz-input-group>
      <ng-template #suffixVisibility>
        <nz-icon
          class="ant-input-password-icon"
          [nzType]="isPasswordVisible() ? 'eye-invisible' : 'eye'"
          (click)="togglePasswordVisibility()"
        />
      </ng-template>
    </nz-form-control>

    <ng-template #passwordErrorTpl let-control>
      <ng-container *ngIf="control.hasError('required')">
        Please input your new password!
      </ng-container>
      <ng-container *ngIf="control.hasError('minlength')">
        Password must be at least 8 characters long.
      </ng-container>
      <ng-container *ngIf="control.hasError('passwordStrength')">
        Password must contain at least one letter, one number and one special
        character.
      </ng-container>
    </ng-template>
  </nz-form-item>

  <button
    class="btn primary-btn"
    nz-button
    nzType="primary"
    [disabled]="validateForm.invalid || isSubmitting()"
  >
    Reset Password
  </button>
</form>

<nz-result
  *ngIf="status() === 'error'"
  nzTitle="Resetting Password Failed!"
  nzStatus="error"
  nzSubTitle="Please try again."
></nz-result>

<nz-result
  *ngIf="status() === 'success'"
  nzStatus="success"
  nzTitle="Password Reset Successful!"
  nzSubTitle="You can now log in with your new password."
>
</nz-result>

<div *ngIf="status() === 'sending'">
  <nz-spin nzTip="Resetting your password..."></nz-spin>
</div>
