<ng-container *ngIf="requests().length > 0; else noRequests">
  <nz-table
    #table
    [nzData]="paginatedRequests()"
    [nzShowPagination]="false"
    [nzLoading]="loading()"
    nzBordered
  >
    <thead>
      <tr>
        <th>Username</th>
        <th>Requested Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of paginatedRequests()">
        <td>{{ request.username }}</td>
        <td>{{ request.createdAt | date: "short" }}</td>
        <td>
          <div class="actions-container">
            <button
              nz-button
              nzType="link"
              nzSize="small"
              (click)="confirmApprove(request)"
            >
              <span nz-icon nzType="check"></span>
            </button>
            <button
              nz-button
              nzType="link"
              nzDanger
              nzSize="small"
              (click)="confirmReject(request)"
            >
              <span nz-icon nzType="close"></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <div class="pagination-container" *ngIf="totalPages() > 0">
    <app-pagination-more
      [maxPageIndex]="totalPages()"
      (pageChange)="onPageChange($event)"
    ></app-pagination-more>
  </div>
</ng-container>

<ng-template #noRequests>
  <nz-empty nzNotFoundContent="No pending requests"></nz-empty>
  <ng-template #emptyContent>
    <p>There are no pending group requests at the moment.</p>
  </ng-template>
</ng-template>
